<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:genero="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:insert="layouts/head"></title>
</head>

<body>
<header th:insert="layouts/header">

</header>
<div class="container">
    <h2 th:text="${titulo}" class="py-4"></h2>

    <form th:action="@{/pelicula}" th:object="${pelicula}" method="post" class="col-md-8 offset-md-2">
        <div class="row mb-3">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="nombre"  th:field="*{nombre}">            </div>
        </div>
        <div class="row mb-3">
            <label for="fecha_estreno" class="col-sm-2 col-form-label">Fecha de Estreno</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="fecha_estreno" th:field="*{fechaEstreno}">
        </div>
    </div>
        <div class="row mb-3">
            <label for="fecha_estreno" class="col-sm-2 col-form-label">Género</label>
            <div class="col-sm-10">
                <select class="form-select" th:field="*{genero}">
                    <option th:each="genero: ${generos}" th:text="${genero.nombre}" th:value="${genero.id}">Selecciona un género</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary float-end">Guardar</button>
    </form>
</body>
</html>